/*Index.html formats*/

#content {
  background-color: #f11175;
  min-height: 375px;
}

.emphasis {
  font-style: italic;
  font-weight: bold;
  color: red;
}

  /*Heading Group:*/
hgroup {
  position: relative;
  margin: 3em 2em 5em 2em;
  opacity: 1;
  z-index: 2;
  color: black;
  background-color: none; }
    h1 {
      font-weight: bold;
      font-family: monospace;
      font-size: 3em;
      text-shadow: 2px 2px white; }
    #subHeading {
      text-align: center;
      font-size: 1.75em;
      text-shadow: 1px 1px beige; }
    /*Heading Group background image:*/
  #background {
    position: relative;
    overflow: hidden;
    background-color: none; }
      #background:after {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0.8;
          background-image: url('Images/1024px-Sufganiot-hgroup.jpg');
      }

  /*Right side image:*/
aside {
  position: static;
  display: inline-block;
  float: right;
  width: 20%;
  height: auto;
  margin-top: 3em; }
    #donutGlossary {
      width: 90%;
      height: auto;
      float: right;
      display: inherit; }
        #donutGlossary:hover {
          position: absolute;
          float: right;
          width: 50%;
          height: auto;
          right: 0;
          z-index: 5;
        }

  /*Navigation bar formatting:  */
#navbar {
  margin-top: 2em;
  position: fixed;
  width: 135px;
  display: inline-block;
  float: left;
  border: 2px solid blue;
  padding-top: 5px; }
    #navLabel {
      border-bottom: 2px solid black;
      font-weight: bold;
      margin: 2px 2px; }
    .link {
      display: inline-block;
      width: 120px; }
    ul {
      list-style-type: none;
      list-style: none;
      padding: 0; }
    li {
      margin: .5em .5em;
    }

  /*Form container for dynamicly generated Shops fieldsets: */
#shopsData {
  display: inline-block;
  margin: 1em 0em 1em 8em;
  width: 60%;
  float: both;
}

#selection {
  margin: 1em 0em 1em 1em;

}

  /*Dynamically generated Shops Data:  */
.box {
  margin-left: 1em;
  padding: 5px;
}

#BlueStarDonutsLabel, #VoodooDoughnutLabel, #CocoLabel, #TonallisDonutsCreamLabel, #SesameDonutsLabel {

}

.donuts {
  margin: 2em 1em;
  min-width: 465px;
  background-color: #cc99ff;
  position: static;
}

h4 {
  text-decoration: underline;
  font-style: italic;
  font-size: 1.5em;
  padding-bottom: 21px;
}

.minCust, .maxCust {
  width: 4em;
  text-align: center;
  margin: 1em 1em;
}

.avgPurchase {
  width: 4em;
  text-align: center;
  margin: 1em 1em 1em 2.5em;
}

.hours {
  width: 4em;
  text-align: center;
  margin: 1em 1em 1em 5.6em;
}

.custDaily, .donutsPerDay {
  margin: 1em 1em 1em 0em;
}

  /*Vanishing table with Shops stats formatting:  */
#highlight {
  background-color: orange;
}

.hourlyStats {
  display: none;
}

.hourlyStats, th, td {
  border-collapse: collapse;
  border: 2px solid black;
}

.hourlyStats th {
  width: 83px;
}

.hourlyStats td {
  text-align: center;
  width: 35px; }

      /*Vanishing table formatting: */
    .hoverTable {
      float: right;
    }
    .hoverTable:hover .hourlyStats {
      display: block;
      position: absolute;
      right: 0;
      background-color: white;
    }

input:checked fieldset {
  display: block;
}

  /*Footer formatting:  */
footer {
  background-color: red;
  padding: 3em 1em;
}

.legalese {
  text-align: right;
  padding: 5px 5px;
}

#copy {
  padding: 10px 10px;
}
